.list-item {
  display: flex;
  align-items: center;
  padding: 15px;

  &__img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 50%;
  }

  &__title, &__subtitle {
    margin: 0;
    line-height: 1.5;
    font-weight: normal;
  }

  &__title {
    font-size: 1.250em;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 1em;
  }
}