@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,700&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.75;
  background-color: #fff;
  color: #fff;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  
  &--home {
    background-color: #000;
  }

  &--navigation {
    background-color: red;
  }
}

.container {
  position: relative;
  height: 400px;
  min-width: 800px;
  background-color: #000;
  overflow: hidden;
  
  &--home {
    background-color: #fff;
  }

  &--navigation {
    background-color: #fff;
  }
}

.back {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 100px;
  height: 100px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="red" stroke-width="3"><polygon points="90 3, 3 90, 97 97" /></svg>');
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 60%;
    transform: translateX(-50%);
    display: block;
    width: 55.1%; 
    height: 19%;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 70 24" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M0.939339 10.9393C0.353554 11.5251 0.353554 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939339 10.9393ZM70 10.5L2 10.5V13.5L70 13.5V10.5Z" fill="white"/></svg>');
  }

  &:hover {
    &::after {
      left: 55%;
    }
  }
}